input:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}
label {
      font-weight: bold;
    }
input, select {
      width: 100%;
      padding: 6px;
      margin-top: 4px;
      border: 1px solid #d12e23;
      border-radius: 6px;
      box-sizing: border-box;
    }

.form-group {
      margin-bottom: 10px;
    }

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #d35a3c, #e87b54);
    color: #ffffff;
    margin: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FF6F61;
    color: white;
    border: none;
    padding: 3px 5px;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.back-button:hover {
    background-color: #E55B50;
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

#imageform{

}

.figures-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.figures-container img {
    max-width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}